body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Css top */

.top {
  display: grid;
  grid-template-areas: "hero hero cta1" "hero hero cta2";
  grid-gap: 20px;
}

.hero {
  grid-area: hero;
  background-image: url(images/taco.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: start;
  align-content: center;
}

.hero>* {
  background-color: #ffc600;
  padding: 5px;
}

/* Css taco */

.cta {
  background-color: #ffc600;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.cta p {
  margin: 0;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2
}

.price {
  font-size: 60px;
  ;
  font-weight: 300;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 0;
  margin: 20px 0;
  list-style: none;
  grid-gap: 20px;
}

.menu a {
  background-color: #ffc600;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
}

[aria-controls="menu-list"] {
  display: none;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.feature {
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1)
}

.feature .icon {
  font-size: 50px;
}

.feature p {
  color: rgba(0, 0, 0, 0.5)
}

.about {
  display: grid;
  background: white;
  grid-template-columns: 400px 1fr;
  align-items: center;
  justify-items: center;
  padding: 50px;
}
.about img{
  width: 100%;
}

.gallery {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
}

.gallery h2 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  grid-gap: 20px;
}

.gallery h2::before, .gallery h2::after {
  content: "";
  display: block;
  height: 10px;
  background: #ffc600;
  background: linear-gradient(to var(--direction, left), #ffc600, transparent);
}

.gallery h2::after {
  --direction: right
}

@media(max-width:1000px) {
  .menu {
    order: -1;
    perspective: 800px;

  }
  [aria-controls="menu-list"] {
    display: block;
  }

  .menu ul{
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all .5s;
  }
  [aria-expanded = "true"]~ ul{
    display: grid;
    max-height: 500px;
    transform: rotateX(0)
  }
  [aria-expanded = "false"] .close{
    display: none;
  }
  [aria-expanded = "true"] .close{
    display: inline-block;
  }
  [aria-expanded = "true"] .open{
    display: none;
  }
}

@media(max-width:700px) {
  .top {
    grid-template-areas: "hero hero" "cta1 cta2";
  }
  .about{
    grid-template-columns: 1fr;
  }
}

@media(max-width:500px) {
  .top {
    grid-template-areas: "hero" "cta1" "cta2";
  }
}