/* hover nav */

.content__text {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding-top: 15px;
    display: none;
}

.list--active {
    display: grid;
}

/* hover nav */