.wrap {
    max-width: 1140px;
    margin: 0 auto;
}

/* CSS header */

.header--wrap {
    height: 88px;
    max-width: 100%;
    background-color: #F5A623;
}

header {
    display: grid;
    grid-template-columns: 99px 1fr 1fr;
    grid-gap: 20px;
}

.header__logo {
    max-width: 99px;
}

.header__logo a img {
    width: 100%;
}

.header__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;
    justify-items: center;
}

.header__menu a {
    text-decoration: none;
}

/* CSS header */