body {
	padding: 0;
	margin: 0;
}

.container {
	width: 96vw;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: auto;
	border: 1px solid black;
}

.square {
	cursor: pointer;
	min-height: 12vw;
	width: 12vw;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none
}

.square:hover {
	background-color: rgba(22, 22, 22, 0.199);
}

.black {
	background-color: rgb(241, 100, 100);
}

.white {
	background-color: #ffffff;
}

.square svg {
	cursor: pointer;
}

.chess--piece {
	cursor: pointer;
	width: 50px
}

.chess--piece img  {
	width: 100%
}

.ui-draggable-dragging img {
	cursor: pointer;
	width: 50px
}