body {
  background-color: #eee;
}

.wrapper {
  width: 1280px;
  margin: auto;
  background-color: #2cdd58;
}

.chatForm {
  display: flex;
  flex-flow: row wrap;
}

.loginForm {
  padding-bottom: 10px;
}

#container {
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid black;
  height: 640px;
  width: 640px;
}

#txtUsername {
  background-color: #fffc42;
  border: solid 1px black;
  width: 300px;
}

#left, #right {
  min-height: 300px;
}

#left {
  width: 15%;
  background-color: #1de5bd;
}

#middle {
  width: 60%;
  display: flex;
  justify-content: center;
}

#right {
  width: 25%;
  background-color: #1d9ce5;
}

#boxTittle {
  border: solid 1px black;
  padding: 5px;
  text-align: center;
}

#boxContent {
  border: solid 1px black;
  border-top: none;
  padding: 5px;
  text-align: center;
}

#sayHi {
  text-align: right;
}

#listMessage {
  height: 200px;
  background-color: azure;
  margin-bottom: 15px;
  overflow: scroll;
}

#txtMessage {
  background-color: #fffc42;
  width: 200px;
}

.bacham {
  height: 50px;
  text-align: center;
  width: 150px;
}

.bacham span:nth-child(1) {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #1d9ce5;
  margin: 5px;
  animation: nay 400ms linear 0ms infinite forwards;
  animation-direction: alternate;
}

.bacham span:nth-child(2) {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #e57e1d;
  margin: 5px;
  animation: nay 400ms linear 75ms infinite forwards;
  animation-direction: alternate;
}

.bacham span:nth-child(3) {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #9c22cc;
  margin: 5px;
  animation: nay 800ms linear 150ms infinite forwards;
  animation-direction: alternate;
}

@keyframes nay {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* ban co cua nam */

/* input {
  height: 30px;
} */

.nameUser:hover {
  color: red;
  cursor: pointer;
}

.chess--board {
  width: 80%;
  height: 80vw;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  /* border: 3px solid rgba(0, 0, 0, 0); */
  position: relative;
  overflow: hidden;
  user-select: none;
}

.square {
  min-height: 8vw;
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.black {
  background-image: url(../images/black.jpg);
}

.white {
  background-image: url(../images/white.jpg)
}

.chess--piece {
  cursor: pointer;
  max-width: 70%;
}

.chess--piece img {
  cursor: pointer;
  width: 100%;
}

.chess--piece svg {
  cursor: pointer;
  width: 100%;
}

.ui-helper {
  width: 10%;
}

.hight--light {
  box-shadow: inset 0 0 3px 3px yellow;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.circleB::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 2vw;
  background: rgba(255, 255, 255, 0.541);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.circleA::after {
  content: "";
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  border: 5px solid rgba(255, 255, 255, 0.774);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.circleB2::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 2vw;
  background: rgba(255, 0, 0, 0.541);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.circleA2::after {
  content: "";
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  border: 5px solid rgba(255, 0, 0, 0.774);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.wrap--content {
  display: none;
  margin: auto;
  max-width: 1140px;
  position: relative;
}

.progress-slide {
  width: 80.07%;
  bottom: 0%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  visibility: hidden;
}

.bar-show {
  visibility: visible
}