body {
  background: #111;
}

.wrapper {
  padding-top: 4%;
  max-width: 450px;
  margin: auto;
}

.chatForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.width-100 {
  width: 100%
}

.loginForm {
  height: 100%;
}

.bacham {
  height: 50px;
  text-align: center;
  width: 150px;
}

.bacham span:nth-child(1) {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #1d9ce5;
  margin: 5px;
  animation: nay 400ms linear 0ms infinite forwards;
  animation-direction: alternate;
}

.bacham span:nth-child(2) {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #e57e1d;
  margin: 5px;
  animation: nay 400ms linear 75ms infinite forwards;
  animation-direction: alternate;
}

.bacham span:nth-child(3) {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #9c22cc;
  margin: 5px;
  animation: nay 800ms linear 150ms infinite forwards;
  animation-direction: alternate;
}

@keyframes nay {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* ban co cua nam */

/* input {
  height: 30px;
} */

.nameUser:hover {
  color: red;
  cursor: pointer;
}

.chess--board {
  width: 100%;
  /*! max-height: 717px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  /* border: 3px solid rgba(0, 0, 0, 0); */
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square {
  height: 91px;
  width: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.black--square {
  background-image: url(../images/black.jpg);
}

.white--square {
  background-image: url(../images/white.jpg)
}

.chess--piece {
  cursor: pointer;
  max-width: 70%;
}

.chess--piece img {
  cursor: pointer;
  width: 100%;
}

.chess--piece svg {
  cursor: pointer;
  width: 100%;
}

.ui-helper {
  width: 10%;
}

.hight--light {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.circleB::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.541);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.circleA::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3.5px solid rgba(255, 255, 255, 0.774);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.circleB2::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 0, 0, 0.541);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.circleA2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3.5px solid rgba(255, 0, 0, 0.774);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.wrap--content {
  display: none;
  margin: auto;
  max-width: 734px;
  position: relative;
  height: 100vh;
}

.progress-slide {
  width: 100%;
  bottom: 0%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  visibility: hidden;
}

.bar-show {
  visibility: visible
}

/* mdb */

.card.chat-room .members-panel-1, .card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll;
}

/* .card.chat-room .members-panel-1 {
  height: 570px;
} */

.card.chat-room .chat-1 {
  height: 495px;
}

.card.chat-room .friend-list li {
  border-bottom: 1px solid #e0e0e0;
}

.card.chat-room .friend-list li:last-of-type {
  border-bottom: none;
}

.card.chat-room img.rounded-circle {
  border-radius: 50%;
}

.card.chat-room img.avatar {
  height: 3rem;
  width: 3rem;
}

.card.chat-room .text-small {
  font-size: 0.95rem;
}

.card.chat-room .text-smaller {
  font-size: 0.75rem;
}

.scrollbar-light-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #82B1FF;
}

.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.icon--challenge {
  height: 2rem;
  width: 2rem;
  margin: auto;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.icon--challenge:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.685), 0 2px 10px 0 rgba(0, 0, 0, 0.685);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.685), 0 2px 10px 0 rgba(0, 0, 0, 0.685);
}

.user--list {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 30px;
}

.user--chat {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 30px;
}

.chat-footer {
  justify-self: end
}

.chat-room {
  visibility: hidden;
}

#btnLogout {
  font-size: 23px;
  padding-left: 18px
}

#particles-js {
  width: 100%;
  height: 99vh;
  /* background-image: url('https://wallpapermemory.com/uploads/234/chess-background-hd-2560x1600-378802.jpg'); */
  background-image: url('../images/background-2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
}

#txtUsername {
  height: 80px;
}

.board {
  width: 400px;
  margin: auto
}

.info {
  max-width: 400px;
  margin: auto;
  display: none;
}

.move-history {
  max-height: 100px;
  overflow-y: scroll;
}

.boardAI {
  display: none
}

.boardShow {
  display: block
}