.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  #content {
    padding : 15px;
    border : 4px solid orangered;
    text-align: center;
  }
  span {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px;
    cursor: pointer;
  }
  .isactive {
    border: 4px solid black;
  }
  .ovuong1 {
    background: red;
  }
  .ovuong2 {
    background: green;
  }
  .ovuong3 {
    background: blue;
  }
  .ovuong4 {
    background:gray;
  }
  .btnmar {
    margin: 10px;
  }