<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <title>ChatIO</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="container">
    <div id="namesWrapper">
      <h2>ChatIO</h2>
      <p>Create Username:</p>
      <form action="" id="usernameForm">
        <input size="35" id="username">
        <input type="submit" value="Submit" id="">
      </form>
    </div>
    <div id="mainWrapper">
      <h2>ChatIO</h2>
      <div id="chatWrapper">
        <div id="chatWindow"></div>
        <form action="" id="messageForm">
          <input size="35" id="message" placeholder="Type Something...">
          <input type="submit" value="Say It!" id="">
        </form>
      </div>
      <div id="userWrapper">
        <div id="users"></div>
      </div>
    </div>
  </div>
  <script src="http://localhost:4000/socket.io/socket.io.js"></script>
  <script>
    $(() => {
      const socket = io('http://localhost:4000');
      $('#messageForm').submit((e) => {

        e.preventDefault();
        socket.emit('send message', $('#message').val());
        $('#message').val("");

      });
      socket.on('new message', (data) => {
        $('#chatWindow').append(`${data.msg} <br>`)
      });
      $('#usernameForm').submit((e) => {
        if ($('#users').html()) {
          return
        };
        e.preventDefault();
        socket.emit('new user', $('#username').val());
        $('#username').val("");
      });
      socket.on('name user', (data) => {
        console.log(data);
        if (data.length <= 1) {
          $('#users').append(data[0].name + '<br>')
        } else {
          $('#users').html("")
          for (let i of data) {
            $('#users').append(i.name + '<br>')
          }

        }

        $('#namesWrapper').css("display", "none");
        $('#mainWrapper').css("display", "block");
      });
      socket.on('cannot create user', (name) => {
        $("#namesWrapper p").html(`Create Username: Đã có người sử dụng tên "${name.name}" này vui lòng tạo tên khác`)
      });
    })
  </script>

</body>

</html>