<div class="transparent-1">
</div>
<footer class="footer__desktop">
    <div class="wrap footer--layout">
        <div class="footer__box">
            <div class="box__logo header__logo">
                <a href="/">
                    <img src="/static/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="box__info">
                <p>
                    Đơn vị chủ quản : Công ty cổ phần trực tuyến Cinema.
                </p>
                <p>
                    Địa chỉ đăng ký: Số nhà 14, ngõ 4, đường Nguyễn Đình Chiểu, Hà Nội.
                </p>
                <p>
                    Email: support@nguyennam.ml
                </p>
                <p>
                    Số điện thoại: 0988.888.888
                </p>
                <p>
                    Copyright ©2018 Cinema. All Rights Reserved.
                </p>
            </div>
        </div>
        <div class="footer__link">
            <div class="link link--social">
                <span>
                    <p>
                        Liên Hệ
                    </p>
                </span>

                <a href="#">
                    <i class="fab fa-facebook-f"> </i>
                    <p>
                        Facebook
                    </p>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                    <p>
                        Twitter
                    </p>
                </a>
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                    <p>
                        Google+
                    </p>
                </a>
                <a href="#">
                    <i class="fab fa-youtube"></i>
                    <p>
                        Youtube
                    </p>
                </a>
                <a href="#">
                    <i class="fab fa-tumblr"></i>
                    <p>
                        Tumblr
                    </p>
                </a>
                <a href="#">
                    <i class="fab fa-slack-hash"></i>
                    <p>
                        Slack
                    </p>
                </a>
                <a href="#">
                    <i class="fab fa-weixin"> </i>
                    <p>
                        Wechat
                    </p>
                </a>

            </div>
            <div class="link">
                <span>
                    <p>
                        Thể Loại Phim
                    </p>
                </span>

                <a href="#">
                    Phim Hot
                </a>
                <a href="#">
                    Phim Chiếu Rạp
                </a>
                <a href="#">
                    Phim Lẻ
                </a>
                <a href="#">
                    Phim Bộ
                </a>
                <a href="#">
                    Phim Âu Mỹ
                </a>
                <a href="#">
                    Phim Hàn Quốc
                </a>
                <a href="#">
                    Phim Trung Quốc
                </a>
                <a href="#">
                    Phim Hoạt Hình
                </a>

            </div>
            <div class="link">
                <span>
                    <p>
                        Diễn Viên
                    </p>
                </span>

                <a href="#">
                    Tom Cruise
                </a>
                <a href="#">
                    Adam Sendler
                </a>
                <a href="#">
                    Johnny Depp
                </a>
                <a href="#">
                    Leonardo dicaprio
                </a>
                <a href="#">
                    Matt Damon
                </a>
                <a href="#">
                    Brad Pitt
                </a>
                <a href="#">
                    Robert Pattinson
                </a>
                <a href="#">
                    Nam Nguyễn
                </a>

            </div>
        </div>
    </div>

</footer>
<footer class="footer__mobile">
    <div class="social__icon">
        <a href="#">
            <i class="fab fa-facebook-f"> </i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-google-plus-g"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="#">
            <i class="fab fa-tumblr"></i>
        </a>
        <a href="#">
            <i class="fab fa-slack-hash"></i>
        </a>
        <a href="#">
            <i class="fab fa-weixin"> </i>
        </a>
    </div>
    <div class="footer__info">
        <p>
            Copyright ©2018 Cinema. All Rights Reserved.
        </p>
    </div>
</footer>