body{
	box-sizing: border-box;
}
.slider .list_img{
	position: relative;
}
#wrap{
	width: 419px;
	height: 610px;
	position: absolute;
	overflow: hidden;
}
#img2 {
	top: 0;
	left: 419px;
	position: absolute;
	opacity: 0;
	transition: all 1s;
	
}
#img1{
	transition: all 1s;
}
#img3 {
	top: 0;
	position: absolute;
	opacity: 0;
	transition: all 1s;
}
.slider:hover #img1 {
	transform: translate(-100%);
	opacity: 1;
}
.slider:hover #img2{
	transform: translate(-100%);
	opacity: 1;
}
button {
	color: red;
	width: 300px;
	border: red 1px solid;
}