body {
	box-sizing: border-box;
}
.clear {
	clear: both
}
.slider {
	margin: auto;
	width: 80%;
	height: 700px;
}

.slider .content {
	position: relative;
}
.box_wrap {
	width: 419px;
	height: 610px;
	position: relative;
	z-index: 4;
}

#img_wrap {
	width: 419px;
	margin: auto;
	height: 610px;
	position: absolute;
	overflow: hidden;
}

#img1 {
	top: 0px;
	left: 0px;
	position: absolute;
	opacity: 1;
	transition: all 1s;
	z-index: 3;
}

#img2 {
	top: 0;
	left: 419px;
	position: absolute;
	opacity: 1;
	transition: all 1s;
	z-index: 1;
}

#img3 {
	top: 0px;
	left: -419px;
	position: absolute;
	opacity: 1;
	transition: all 1s;
	z-index: 1;
}


.box_wrap .button .btn {
	position: absolute;
	z-index: 4;
	float: left;
	width: 60px;
	transform: translate(50%, 1000%);
}

.btn2 {
	margin-left: 335px;
}

button {
	background-color: #ffffff00;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 25px;
}

.fa-angle-left, .fa-angle-right {
	opacity: 0;
	color: #ffffffa8;
	transition: 1s opacity ease-out, 0.5s transform;
}
.slider .box_wrap:hover .fa-angle-left {
	opacity:1;
}

.slider .box_wrap:hover .fa-angle-right {
	opacity:1;
}

.fa-angle-left:hover {
	transform: scale(1.8);
}

.fa-angle-right:hover {
	transform: scale(1.8);
}


.slider .box_wrap .circle .c1, .slider .box_wrap .circle .c2, .slider .box_wrap .circle .c3 {
	z-index: 5;
	border: solid 1px white;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	opacity: 0;
	position: absolute;
	top: 98%;
	left: 45%;
	transform: translate(-50%, -50%)
}

.slider .box_wrap .circle .c2 {
	margin-left: 20px;
}

.slider  .box_wrap .circle .c3 {
	margin-left: 40px;
}

.slider .box_wrap .circle .c {
	float: left;
	transition:  0.4s all;
}