body {
	box-sizing: border-box;
	background-color: #67d2fd7e;
	background-image: url("../img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
   
    
}
.clear {
	clear: both
}
.content_wrap {
	margin: auto;
	width: 1800px;
	position: relative;
}
.content_wrap .coffer{
	float: left;
	width: 50px ;
	height: 50px;
	border: 1px solid rgb(219, 219, 219);
	background-color: #497447;
	cursor: pointer;
	text-align: center;
	font-size: 35px;
	user-select: none;
	line-height: 50px;
}

.coffer:hover{
	background-color: rgb(90, 88, 88);
}

.blockMouse {
	pointer-events: none;
}
#popup{
	width: 500px;
	background-color: #333;
	height: 300px;
	top: 300px;
	left: 35.5%;
	position: absolute;
	transition: all .6s;
	visibility: hidden;
	text-align: center;
	opacity: 0;
	box-shadow: -13px 12px 31px 0px;
	user-select: none;
}
#popup p{
	color: white;
}
#popup img{
	user-select: none;
	width: 80%;
	padding: 8px 0px 0px 14px;
	cursor: pointer;
}

