@media only screen and (min-width: 768px) {
    #container_header {
        background-color: #000;
        z-index: 99;
    }
    #container_banner {
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 630px;
        background-position: bottom center;
    }
    #container_social {}
    #container_tab_list {
        background: #f5f5f5;
    }
    #container_sub_list {}
    #container_picture {
        background: #f5f5f5;
    }
    .bar-right {
        display: grid!important;
    }
}

@media only screen and (max-width: 768px) {
    #container_header {
        background-color: #000;
        z-index: 99;
    }
    #container_banner {
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 830px;
        background-position: bottom center;
    }
    button[aria-hidden="true"] {
        display: unset;
    }
    #menu {
        display: grid;
        grid-template-columns: 1fr
    }
    #menu button {
        grid-row: 1 /2;
        -ms-flex-item-align: center;
        align-self: center;
        justify-self: end;
        padding: 10px 0;
        cursor: pointer;
    }
    .bar-right {
        padding: 10px 0;
        display: none;
        justify-self: end;
        grid-gap: 8px;
    }
    #box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-gap: 30px;
        padding: 50px 0px 0px 15px;
    }
    #box_left img {
        width: 18%;
    }
    #box_right {
        justify-self: center;
    }
    .tab {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    #tab_list {
        grid-gap: 60px;
        padding: 20px 0px;
    }
    .tab_picture {
        max-width: 350px;
    }
    #sub-wrap {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
        padding: 110px 0px 120px;
    }
    #sub-list {
        padding-left: 15px;
        padding-right: 15px;
    }
    #social_left {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 560px) {
    #container_banner {
        height: 780px;
    }
    #box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-gap: 30px;
        padding: 50px 0px 0px 10px;
    }
    #box_left {
        margin: 0 auto;
        grid-gap: 20px;
    }
    #box_left p {
        font-size: 14px;
    }
    #box_left h2 {
        color: #fff;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        line-height: 27px;
    }
    #box_left img {
        width: 20%;
    }
    #box_right {
        justify-self: center;
        padding-right: 10px;
       
    }
    .tab {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    #tab_list {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 60px;
        padding: 30px 0px;
    }
    #tab_links {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        padding-right: 15px;
        margin: 0;
    }
    #tab_links li a {
        width: initial;
        height: 50px;
        line-height: 50px;
    }
    
}

@media only screen and (max-width: 370px) {
    #container_banner {
        height: 800px;
        background-position: bottom center;
    }
    .bar-right {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        padding-left: 105px;
    }
    #box {
        padding: 30px 0px 0px 10px;
    }
    #box_left img {
        width: 25%;
    }
    #box_right {
        justify-self: left;
        padding-right: 10px;
    }
    #box {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    #social {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    }
    .tab_picture {
        max-width: 250px;
    }
}

@media only screen and (max-width: 300px) {
    #container_banner {
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
        background-position: bottom center;
    }
    .bar-right {
        padding-left: 73px;
    }
    .bar-right {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        padding-left: 30px;
    }
    #box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
        padding: 30px 0px 0px 5px;
    }
    #box_right {
        justify-self: left;
        padding-right: 5px;
    }
    #social {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    }
    .tab {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    #sub-wrap {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 50px;
        padding: 30px 0;
    }
    #standard {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 50px;
        padding: 30px 0px;
    }
}