<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <title>ChatIO</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="container">
    <div id="namesWrapper">
      <h2>ChatIO</h2>
      <p>Create Username:</p>
      <form action="" id="usernameForm">
        <input size="35" id="username">
        <input type="submit" value="Submit" id="">
      </form>
    </div>
    <div id="mainWrapper">
      <h2>ChatIO</h2>
      <div id="chatWrapper">
        <div id="chatWindow"></div>
        <form action="" id="messageForm">
          <input size="35" id="message" placeholder="Type Something...">
          <input type="submit" value="Say It!" id="">
        </form>
      </div>
      <div id="userWrapper">
        <div id="users"></div>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $(() => {
      const socket = io();
      $('#messageForm').submit((e) => {

        e.preventDefault();
        socket.emit('send message', $('#message').val());
        $('#message').val("");

      });
      socket.on('new message', (data) => {
        $('#chatWindow').append(data.msg + '<br>')
      });
      $('#usernameForm').submit((e) => {
        if ($('#users').html()) {
          return
        };
        console.log($('#username').val());
        e.preventDefault();
        socket.emit('new user', $('#username').val());
        $('#username').val("");
      });
      socket.on('name user', (data) => {
        $('#users').append(data.name + '<br>')
        $('#namesWrapper').css("display", "none");
        $('#mainWrapper').css("display", "block");
      });
    })
  </script>

</body>

</html>