.movies__media {
    max-width: 1110px;
    padding-top: 50px;
}

.media__video {
    width: 100%;
    height: 100%;
}

.movies__title {
    padding: 20px 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title__text {
    justify-self: start;
}

.text__top h2 {
    max-width: 681.47px;
    color: #F6B03D;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: -1.03px;
    line-height: 42px;
    padding-bottom: 15px;
}

.text__bot {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 1fr;
    grid-column-gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.text__bot button {
    cursor: pointer;
    height: 30px;
    max-width: 130px;
    border: 0;
    border-radius: 6px;
    background-color: #F5A623;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

button.bot__report,
button.bot__block-ads {
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    padding-left: 5px;
}

.bot__add-list {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    grid-column-gap: 5px;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.bot__add-list p {
    font-size: 14px;
    color: #F5A623;
}

.bot__add-list:hover i {
    color: #F5A623;
}

.text__bot button:hover {
    color: #333;
}

/* CSS movies info */

.movies__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000000;
    gap: 20px;
    padding: 10px;
}

.movies-season {
    padding-bottom: 10px;
}

.info__left h1,
.episode h1 {
    color: #F5A623;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.46px;
    line-height: 19px;
    padding-bottom: 5px;
}

.info__left h2 {
    color: #FFFFFF;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
}

.movies-season button {
    height: 27px;
    width: 65px;
    border-radius: 8px;
    background-color: #F5A623;
    border: 0;
    font-size: 11px;
    color: #fff;
}

.movies-reviews {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    gap: 20px;
}

.reviews__left {
    display: grid;
    gap: 15px;
}

.rate__star {
    color: #F5A623;
    font-size: 14px;
}

.tag-film span {
    color: #F5A623;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.46px;
    line-height: 19px;
    padding-bottom: 5px;
}

.tag-film p {
    color: #FFFFFF;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    display: inline;
}

.revies__right {
    display: grid;
}

.directors-film,
.country-film {
    margin-top: -12px;
}

.comment {
    background-color: #fff;
}

.content__list {
    padding: 25px 0;
}

.info__right {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    gap: 20px;
}

.episode__icon {
    position: relative;
    height: 31px;
    width: 31px;
    border-radius: 100%;
    background-color: #F5A623;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.episode__icon p {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.53px;
    line-height: 22px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* CSS movies info */