
@media only screen and (min-width: 768px) {
    #container_header {
        background-color: #000;
    }
    
    #container_banner {
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 630px;
        background-position: bottom center;
    }
    
    #container_social {}
    
    #container_tab_list{}
    
    #container_sub_list {}
    
    #container_picture {}
}



@media only screen and (max-width: 768px) {
    
    #container_header {
        background-color: #000;
    }
    
    #container_banner {
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 930px;
        background-position: bottom center;
    }
    
    #container_social {}
    
    #container_tab_list{}
    
    #container_sub_list {}
    
    #container_picture {}
    
#box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 30px;
    padding: 150px 0px 0px 15px;
}


    #box_right {
        justify-self: center;
    }
}
@media only screen and (max-width: 560px) {
    
    #container_header {
        background-color: #000;
    }
    
    #container_banner {
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 1020px;
        background-position: bottom center;
    }
    
    #container_social {}
    
    #container_tab_list{}
    
    #container_sub_list {}
    
    #container_picture {}

    #box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 30px;
        padding: 150px 0px 0px 10px;
    } 

    #box_left{
        margin: 0 auto;
    }

    #box_right {
        justify-self: center;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 370px) {
    
    #container_header {
        background-color: #000;
    }
    
    #container_banner {
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 1030px;
        background-position: bottom center;
    }
    
    #container_social {}
    
    #container_tab_list{}
    
    #container_sub_list {}
    
    #container_picture {}

    #box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
        padding: 150px 0px 0px 10px;
    }


    #box_right {
       justify-self: left;
       padding-right: 10px;
    }

    #social {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    }

}
@media only screen and (max-width: 300px) {
    
    #container_header {
        background-color: #000;
    }
    
    #container_banner {
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 1060px;
        background-position: bottom center;
    }
    
    #container_social {}
    
    #container_tab_list{}
    
    #container_sub_list {}
    
    #container_picture {}


    .bar-right{
        padding-left: 73px;
    }
    #box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
        padding: 150px 0px 0px 5px;
    }
    #box_right {
        justify-self: left;
        padding-right: 5px;
    }
    #social {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    }

}